$mobile: 768px;

.mainSection {
  background-color: white;
}

.main {
  background-color: #0099dc;
  padding: 10px 0px;
}

.partner {
  background-color: white;
  margin-top: 5rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.partner > h2 {
  text-align: center;
  color: #0099dc;
  padding: 0px;
  margin: 0px;
  font-size: 3rem;
  font-weight: 700;
  @media all and (max-width: $mobile) {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 3.5rem;
  }
}

.comapines {
  display: flex;
  flex: wrap row;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  @media all and (max-width: $mobile) {
    flex-wrap: wrap;
    .comLogo {
      width: 40%;
    }
  }
}

.comLogo > img {
  width: 90%;
}

.middleContent {
  @media all and (max-width: $mobile) {
    margin: 4rem 10%;
  }
}

.middle {
  margin-top: 60px;
  border: 5px solid rgba($color: #fff, $alpha: 0.5);
  text-align: center;
  padding: 4rem 1rem;

  border-radius: 50px;
  margin: 50px 90px;
  @media all and (max-width: $mobile) {
    width: 100%;
    margin: 0;
  }
}

.middle > h2 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  @media all and (max-width: $mobile) {
    font-size: 2.4rem;
    padding: 1rem 2rem;
  }
}

.middle > p {
  color: white;
  font-size: 1.8rem;
  padding: 8px 0;
  margin-bottom: 2rem;
  @media all and (max-width: $mobile) {
    font-size: 1.2rem;
    padding: 0 3rem 2rem 3rem;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.middle > a {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 5px 50px;
  border: 1px solid rgba($color: #fff, $alpha: 0.8);
  border-radius: 30px;
  @media all and (max-width: $mobile) {
    font-size: 1.2rem;
  }
}

.middle > a:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
