$mobile: 768px;

.mainSection {
  background-color: white;
}

.leaderTalk {
  background-color: #0099dc;
  padding: 50px 90px;
  background-image: url("/images/background-vector.png");
  @media all and (max-width: $mobile) {
    padding: 5rem 10%;
  }
}

.slide {
  background-color: #ccebf8;
  border-radius: 50px;
  height: 250px;
  @media all and (max-width: $mobile) {
    height: auto;
  }
}

.image {
  position: relative;
}

.circle {
  position: absolute;
  top: -30px;
  left: 100px;
  right: 0px;
  @media all and (max-width: $mobile) {
    display: none;
  }
}

.message {
  position: absolute;
  top: -30px;
  left: 250px;
  right: 0px;
  @media all and (max-width: $mobile) {
    position: relative;
    top: -2.5em;
    left: auto;
    right: auto;
    display: block;
    margin: auto;
  }
}

.man {
  position: absolute;
  top: -15px;
  left: auto;
  right: 45px;
  @media all and (max-width: $mobile) {
    display: none;
  }
}
.man2 {
  width: 17.5em;
  display: block;
  margin: auto;
  @media all and (min-width: $mobile) {
    display: none;
  }
}

.slide h2 {
  text-transform: uppercase;
  padding-top: 30px;
  color: #0099dc;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  @media all and (max-width: $mobile) {
    font-size: 2em;
    padding: 0 3rem 2rem 3rem;
  }
}

.slide p {
  // text-transform: uppercase;
  font-size: 15px;
  max-width: 700px;
  text-align: left;
  margin-left: 40px;
  color: #4d4d4d;
  @media all and (max-width: $mobile) {
    padding: 0 2em 2em 2em;
  }
}

.slide h5 {
  text-transform: uppercase;
  max-width: 700px;
  text-align: right;
  margin-left: 40px;
  color: #4d4d4d;
}

.demonstration {
  margin-top: 60px;
  border: 5px solid rgba($color: #fff, $alpha: 0.5);
  text-align: center;
  padding: 20px 0px;
  border-radius: 50px;
  position: relative;
}

.demonstration > img {
  width: 200px;
  position: absolute;
  left: 80px;
  right: 0px;
  bottom: 0px;
}

.demonstration > h2 {
  color: white;
  font-size: 4rem;
  font-weight: 600;
}

.demonstration > p {
  color: white;
  font-size: 1.8rem;
}

.demonstration > button {
  background-color: transparent;
  text-decoration: none;
  color: white;
  padding: 0.8rem 5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 30px;
}

.demonstration > button:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1920px) {
  .slide p {
    font-size: 18px;
    max-width: 1100px;
    margin-left: 170px;
  }

  .slide h5 {
    margin-left: 520px;
  }
}

@media screen and (max-width: 1680px) {
  .slide p {
    font-size: 15px;
    max-width: 900px;
    margin-left: 170px;
  }

  .slide h5 {
    margin-left: 360px;
  }
}

@media screen and (max-width: 1440px) {
  .slide p {
    font-size: 15px;
    max-width: 750px;
    margin-left: 50px;
  }

  .slide h5 {
    margin-left: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .man {
    top: 55px;
    right: 45px;
    width: 30%;
  }

  .slide h2 {
    padding-top: 40px;
    // font-size: 30px;
  }

  .slide p {
    // font-size: 15px;
    max-width: 550px;
  }

  .slide h5 {
    text-align: center;
    margin: 0px;
  }

  .demonstration > img {
    width: 160px;
    left: 20px;
  }
}

.slide {
  @media all and (max-width: $mobile) {
    p {
      text-align: center;
      font-size: 1.3em;
      font-weight: bold;
      margin-left: 0;
      margin-bottom: 0;
    }
    h5 {
      font-size: 0.9rem;
      padding: 0 2rem 2rem 2rem;
    }
  }
}
.demonstration {
  @media all and (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    h2 {
      margin: auto;
      max-width: 23rem;
      font-size: 2.4em;
      text-transform: uppercase;
      margin-bottom: 1em;
    }
    p {
      margin: auto;
      font-size: 1.2em;
      max-width: 16em;
      font-weight: 500;
      margin-bottom: 2em;
    }
    a {
      font-size: 1.2em;
      padding: 0.5rem 5rem;
      font-weight: 600;
      margin: auto;
      margin-bottom: 4rem;
    }
    img {
      width: 70%;
      margin: auto;
      position: relative;
      order: 5;
    }
  }
}
