.aboutButton {
  color: white;
  background-color: #0152d6;
  padding: 0px 50px 10px 50px;
  text-transform: uppercase;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.aboutButton:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
