$mobile: 768px;

.container {
  .header {
    margin-top: 4rem;
    color: white;
    text-align: center;

    .title {
      font-size: 3.2rem;
      font-weight: bold;
      max-width: 24rem;
      line-height: 3.9rem;
      margin: 2rem auto;
    }
    .subtitle {
      margin: auto;
      font-size: 1.3rem;
      font-weight: bold;
      max-width: 14rem;
      margin-bottom: 3rem;
    }
  }

  .form {
    background-color: #fff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
    .formHeader {
      font-size: 2rem;
      font-weight: bold;
      color: #0152d6;
      text-transform: uppercase;
      margin-bottom: 3rem;
    }
    input {
      width: 90%;
      border: none;
      padding: 0.65rem 0.5rem;
      border-bottom: 1px solid rgba(108, 197, 237, 0.5);
      font-size: 1.3 rem;
      &:focus {
        outline: none;
      }
    }
    .check {
      padding: 0 5%;
      margin-top: 4rem;
      display: flex;
    }
    .checkbox {
      width: auto;
      margin-right: 1rem;
    }
    .disclaimer {
      color: #000;
      text-align: left;
      font-size: 0.6rem;
      font-weight: 200;
    }
    .submit {
      background-color: #0152d6;
      padding: 0.5rem 3rem;
      text-transform: uppercase;
      color: #fff;
      font-size: 1.7rem;
      margin-bottom: 5rem;
      margin-top: 5rem;
      border: none;
      &:hover {
        background-color: rgba(1, 82, 214, 0.9);
      }
    }
  }

  .line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .address {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bluebar {
      height: 2.5rem;
      width: 100%;
      background-color: #6cc5ed;
    }
    .mapImage {
      width: 100%;
      height: auto;
    }

    .locationIcon {
      width: 5.5rem;
      margin: 2.5rem 0;
    }

    .addressText {
      text-align: center;
      h6 {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
      }
      p {
        font-size: 1.2rem;
        font-weight: 400;
        color: #000;
        margin-bottom: 2rem;
      }
    }
  }
}
